.time-line-ctnr {
    .time-line {
      position: relative;
      margin: 0 0 0px 0;
      padding: 0;
      list-style: none;
      &.first{
            &:before {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            top: 45px
            }
        }
        &.last{
            &:before {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            bottom: 10px;
            }
        }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: -10px;
        width: 2px;
        background: #888;
        left: 10px;
        border-radius: 0px;
      }
      > .time-label {
        > span {
            left: 0px;
          font-weight: 600;
          padding: 5px 10px;
          display: inline-block;
          background-color: #40798C;
          color: #eee;
          border-radius: 10px;
          font-size: 14px;
        }
      }
      > li {
        position: relative;
        margin-bottom: 10px;
        margin-right: 0;
        > .time-line-item {
        //   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        //   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
        //   background: #444;
        //   color: #444;
          margin-right: 15px;
          position: relative;
          margin-left: 28px;
          > .time-line-header,
          .time {
              text-align: left;
            font-size: 14px;
            padding: 6px 10px;
          }
          .time {
            font-size: 12px;
            color: #ddd;
            float: right;
          }
          .time-line-header {
            margin: 0;
            color: #eee;
            // border-bottom: 1px solid #f4f4f4;
            line-height: 1.1;
          }
        }
        > .fa {
          position: absolute;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          color: #666;
          background: #eee;
          left: 6px;
          top: 9px;
          border: 2px solid #888;
          display: inline-block;
          box-sizing: border-box;
        }
      }
    }
  }