body {
    font-family: Helvetica, sans-serif;
  }

  .topBar {
      display: block;
      padding-top: 10pt;
      padding-bottom: 10pt;


  }

  .react-autosuggest__container {
    position: relative;

  }
  
  .react-autosuggest__input {
    width: 80vw;
    max-width: 680px;
    height: 30px;
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #444;
    border-style: none;
    color: #eee;
    border-radius: 10px;
    transition: background-color 0.25s ease;

  }
  
  .react-autosuggest__input--focused {
    outline: none;
    background-color: #555;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    width: 80vw;
    max-width: 680px;
    display: block;
    position: absolute;
    top: 50px;
    padding: 0px 10px;
    background-color: #555;
    color: #eee;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    flex: 1;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 0px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  
  .footer {
    margin: 9px 20px;
    font-size: 12px;
    color: #777;
  }
  
  